/*When screen is 1400px or less modify the height and margin of #profile change wrapping behavior of .about-containers*/
@media screen and (max-width: 1400px) {
    #profile {
        height: 83vh;
        margin-bottom: 6rem;
    }
    .about-containers {
        flex-wrap: wrap;
    }
}
/* When the screen size is lower than 1200px the desktop-nav disappears and the hamburger-nav shows */
@media screen and (max-width: 1200px) {
    #desktop-nav {
        display: none;
    }
    #hamburger-nav {
        display: flex;
    }
}
/**/
/**/
/**/
/**/